body {
  background-image: url("..//images/bgMinecraft.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 7px;
}

#world {
  display: none;
}

button {
  position: relative;
  cursor: pointer;
  font-size: 50px;
  margin: 30px;
  left: 31%;
  top: 500px;
  border-radius: 20px;
}

button:hover {
  background-color: green;
}

button:active {
  outline: 0;
}

.tutoContent {
  position: relative;
  text-align: center;
  border: 1px solid black;
  background-color: wheat;
  border-radius: 20px;
  border-width: 5px;
  width: 510px;
  height: 400px;
  font-size: 35px;
  left: 32%;
  top: 100px;
  display: none;
}

.closeTuto {
  position: absolute;
  background-color: green;
  top: 250px;
  display: none;
}

.pixel {
  position: relative;
  height: 65px;
  width: 65px;
  background-size: cover;
  background-repeat: no-repeat;
}

.pixel:hover {
  border: 1px solid white;
}

.sky {
  background-color: skyblue;
}

.cloud {
  background-color: whitesmoke;
}

.tree {
  background-image: url("..//images/tree.png");
}

.leaf {
  background-image: url("..//images/leaf.png");
}

.grass {
  background-image: url("..//images/grass.jpeg");
}

.dirt {
  background-image: url("..//images/dirt.png");
}

.rock {
  background-image: url("../images/rock.png");
}

.sidebar {
  position: absolute;
  text-align: center;
  height: 840px;
  width: 150px;
  background-color: black;
  color: white;
  z-index: 1;
}

.tool {
  position: absolute;
  border: 1px solid white;
  height: 70px;
  width: 70px;
  margin: 25%;
  color: black;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
}

.tool:hover {
  background-color: green;
}

span {
  position: relative;
  top: 55px;
  left: 10px;
}

.tool.shovel {
  top: 10%;
  background-image: url(https://cdn3.iconfinder.com/data/icons/minecraft-icons/512/Iron_Shovel.png);
  background-size: cover;
}
.tool.pickAxe {
  top: 20%;
  background-image: url(http://icons.iconarchive.com/icons/chrisl21/minecraft/128/Stone-Hoe-icon.png);
  background-size: cover;
}
.tool.axe {
  top: 30%;
  background-image: url(https://cdn3.iconfinder.com/data/icons/minecraft-icons/512/Iron_Axe.png);
  background-size: cover;
}

.tile {
  position: absolute;
  border: 1px solid white;
  height: 50px;
  width: 50px;
  margin: 32%;
  top: 40%;
  cursor: pointer;
  background-size: cover;
}

.inventory {
  position: absolute;
  border: 1px solid white;
  height: 60px;
  width: 60px;
  margin: 25%;
  color: white;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  background-size: cover;
}

.inventory.dirt {
  top: 55%;
  right: 40px;
}

.inventory.tree {
  top: 55%;
  left: 40px;
}

.inventory.leaf {
  top: 65%;
  right: 40px;
}

.inventory.rock {
  top: 65%;
  left: 40px;
}

.inventory.grass {
  top: 75%;
}

@media only screen and (max-width: 1340px) {
    .pixel {
        height: 55px;
        width: 55px;
    }
}

@media only screen and (max-width: 1150px) {
    .pixel {
        height: 45px;
        width: 45px;
    }
}

@media only screen and (max-width: 930px) {
    .pixel {
        height: 35px;
        width: 35px;
    }
}

@media only screen and (max-width: 710px) {
    .pixel {
        height: 25px;
        width: 25px;
    }
}